<div class="side-menu">
  <h1>Reserve Lab</h1>
  <div class="user-info">
    <div class="img-user-menu">
     <img src="assets/ava.jpg"/>
    </div>
    <div class="welcome">
      <p class="w-1">Welcome,</p>
      <p class="username">{{username}}</p>
    </div>
  </div>
  <div class="options">
    <a class="option-menu" routerLink="reserves" routerLinkActive="active">Reserves</a>
    <a class="option-menu" routerLink="my-reserves" routerLinkActive="active">My Reserves</a>
    <a class="option-menu" routerLink="labs" routerLinkActive="active">Labs</a>
    <a class="option-menu" routerLink="login" (click)="logout()" style="color: red;">Logout</a>
  </div>
</div>
